body{
    background-color: #071426;
    color:#5e81b5;
  }
  .btn{
    background: #0a172b;
    color:#293875;
    font-weight: 700;
    border:none;
    box-shadow: #071426 2px;
  }
  .btn:hover{
    background: #11233d;
    color:#294875;
    font-weight: 700;
  }
  .btn:active{
    background: #1e3659;
    color:#294875;
    font-weight: 700;
  }
  input.form-control{
   background:#1d2b40;
   border:0px;
   color: #ced8f0;
 }
 input.form-control:focus{
   background:#1f2e50;
   border:0px;
   color: #ced8f0;
 }
  input.form-control:hover{
   background:#1a283d;
   border:0px;
   color: #ced8f0;
  }
  select.form-control{
   background:#1d2b40;
   border:0px;
   color: #ced8f0;
 }
  select.form-control:focus{
   background:#1f2e50;
   border:0px;
   color: #ced8f0;
 }
  select.form-control:hover{
   background:#1a283d;
   border:0px;
   color: #ced8f0;
  }
@media screen and (min-width: 640px){
  .h2{
   font-size:22pt;
 }
  .h3{
    font-size:22pt;
  }
 input.form-control{
  height:30pt;
  font-size:20pt;
 }
 input.form-check-input[id=pool]{
  height:22pt;
  width:22pt;
  margin-bottom:13pt;
  padding-right:3pt;
 }
 input.form-check-input[id=piramid]{
  height:22pt;
  width:22pt;
  margin-top:13pt;
  padding-right:3pt;
 }
 label.form-check-label[for=pool]{
  font-size:19pt;
  font-weight:bold;
  padding-left:12pt;
  padding-bottom:10pt;
 }
 label.form-check-label[for=piramid]{
  font-size:19pt;
  font-weight:bold;
  padding-left:12pt;
  padding-top:10pt;
 }
 input.btn{
  text-align: center;
  height:40pt;
  font-size:13pt;
 }
}
@media screen and (min-width: 720px){
  .h2{
   font-size:28pt;
 }
  .h3{
    font-size:25pt;
    padding-bottom:12pt;
  }
 input.form-control{
  height:42pt;
  font-size:24pt;
 }
 input.form-check-input[id=pool]{
  height:25pt;
  width:25pt;
  margin-top:-5pt;
  padding-right:3pt;
 }
 input.form-check-input[id=piramid]{
  height:25pt;
  width:25pt;
  margin-top:-pt;
  padding-right:3pt;
 }
 label.form-check-label[for=pool]{
  font-size:21pt;
  font-weight:bold;
  padding-left:12pt;
  padding-bottom:10pt;
  margin-top:-18pt;
 }
 label.form-check-label[for=piramid]{
  font-size:21pt;
  font-weight:bold;
  padding-left:12pt;
  padding-top:10pt;
 }
 input.btn{
  text-align: center;
  height:60pt;
  font-size:23pt;
 }
}
@media(min-width: 1080px){
  .h2{
   font-size:45pt;
 }
  .h3{
    font-size:37pt;
    padding-bottom:12pt;
  }
 input.form-control{
  height:60pt;
  font-size:24pt;
 }
 input.form-check-input[id=pool]{
  height:28pt;
  width:28pt;
  margin-top:-9pt;
  padding-right:6pt;
 }
 input.form-check-input[id=piramid]{
  height:28pt;
  width:28pt;
  margin-top:19pt;
  padding-right:6pt;
 }
 label.form-check-label[for=pool]{
  font-size:29pt;
  font-weight:bold;
  padding-left:18pt;
  padding-bottom:17pt;
  margin-top:-18pt;
 }
 label.form-check-label[for=piramid]{
  font-size:29pt;
  font-weight:bold;
  padding-left:18pt;
  padding-top:10pt;
 }
 input.btn{
  text-align: center;
  height:80pt;
  font-size:29pt;
 }
}
@media screen and (min-height: 1080px){
  .h2{
   font-size:63pt;
 }
  .h3{
    font-size:50pt;
    padding-bottom:22pt;
  }
 input.form-control{
  height:90pt;
  font-size:32pt;
 }
 input.form-check-input[id=pool]{
  height:34pt;
  width:34pt;
  margin-top:-9pt;
  padding-right:6pt;
 }
 input.form-check-input[id=piramid]{
  height:34pt;
  width:34pt;
  margin-top:19pt;
  padding-right:6pt;
 }
 label.form-check-label[for=pool]{
  font-size:34pt;
  font-weight:bold;
  padding-left:18pt;
  padding-bottom:17pt;
  margin-top:-18pt;
 }
 label.form-check-label[for=piramid]{
  font-size:34pt;
  font-weight:bold;
  padding-left:18pt;
  padding-top:10pt;
  padding-bottom:10pt;
 }
 input.btn{
  text-align: center;
  height:90pt;
  width:315pt;
  font-size:32pt;
 }
}