body{
    background-color: #071426;
    color:#5e81b5;
  }
  .btn{
    background: #0a172b;
    color:#293875;
    font-weight: 700;
    border:none;
    box-shadow: #071426 2px;
  }
  .btn:hover{
    background: #11233d;
    color:#294875;
    font-weight: 700;
  }
  .btn:active{
    background: #1e3659;
    color:#294875;
    font-weight: 700;
  }
  input.form-control{
   background:#1d2b40;
   border:0px;
   color: #ced8f0;
 }
 input.form-control:focus{
   background:#1f2e50;
   border:0px;
   color: #ced8f0;
 }
  input.form-control:hover{
   background:#1a283d;
   border:0px;
   color: #ced8f0;
  }
  select.form-control{
   background:#1d2b40;
   border:0px;
   color: #ced8f0;
 }
  select.form-control:focus{
   background:#1f2e50;
   border:0px;
   color: #ced8f0;
 }
  select.form-control:hover{
   background:#1a283d;
   border:0px;
   color: #ced8f0;
  }